<% layout("/layouts/boilerplate") %>

    <div class="row mt-3 mb-2 offset-2">
        <div class="col-8 offset-2">
            <h3>
                <%= listing.title %>
            </h3>
        </div>

        <div class="card col-6 offset-2 show-card listing-card">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">

            <div class="card-body">
                <p class="card-text"><b>
                        <%= listing.title %>
                    </b></p>

                <p class="card-text">
                    <%= listing.description %>
                </p>

                Price <%= listing.price.toLocaleString("en-PK") %>/- <br>
                    <%= listing.location %> <br>
                        <%= listing.country %>
            </div>
            <br>

            <div class="d-flex ">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-success">Edit </a>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                    <button class="btn  btn-danger ">Delete </button>
                </form>
            </div>

        </div>

        <!-- review box -->
        <hr>
        <div class="col-10 offset-1 mb-3 mt-2">
            <h4>Leave A Review</h4>
            <form method="POST" action="/listings/<%=listing._id%>/reviews" novalidate class="needs-validation">
                <div class="mb-2 mt-2">
                    <label class="form-label" for="rating">Rating&nbsp;<i class="fa-regular fa-star"></i></label>
                    <input type="range" class="form-range" name="review[rating]" min="0" max="5" id="customRange2">
                </div>
                <div class="mb-2 mt-2">
                    <label class="form-label" for="comment">Comments...<i class="fa-solid fa-comment"></i></label>
                    <textarea placeholder="Write Your Comment..." class="form-control" required name="review[comment]"
                        id="comment" cols="50" rows="7"></textarea>
                    <div class="invalid-feedback">Please add some comment!</div>
                </div>
                <button class="mt-3 btn btn-outline-success">Submit&nbsp;<i class="fa fa-paper-plane"></i></button>
            </form>

            <hr>
            <h5>All Reviews</h5>
            <div class="row">
                <% for (review of listing.reviews) { %>
                    <div class="card col-5 p-3 ms-5 ">
                        <div class="card-body">
                            <strong class="card-title text-bold fs-5 text-decoration-underline "><i>Aleeza
                                    Rubab</i></strong>
                        </div>
                        <div class="d-flex mt-3 justify-content-between align-items-center">
                            <h5 class="review-stat">
                                <%= review.comment %>
                            </h5>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <form method="POST"
                            action="/listings/<%=listing._id%>/reviews/<%= review._id %>?_method=DELETE">
                            <button class="btn border text-danger "><i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <% } %>
            </div>


        </div>
    </div>